.ListItem {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid white;
  padding: 1vh 3vh;
  text-align: left;
  min-height: calc(2vh + 2em);
}

.ListItem-content {
  flex: 1 1 0px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.ListItem-content > * {
  margin-right: 1em;
}

.ListItem-title__complete {
  text-decoration: line-through;
}