.ListSection {
  flex: 1 0 400px;
  min-width: 400px;
  display: flex;
  flex-direction: column;
  border: 1px solid white;
  border-radius: 12px;
  padding: 0 3vh 3vh;
}

.ListSection > * {
  margin-bottom: 3vh;
}

.ListSection-name {
  margin: 3vh 0;
}
