.App {
  text-align: center;
  display: inline-block;
  min-width: 100%;
}

.App-inner {
  background-color: #282c34;
  min-height: 94vh;
  display: inline-flex;
  min-width: calc(100% - 6vh);
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 3vh;
}

.App-inner > * + * {
  margin-left: 1vw;
}
