.App {
  text-align: center;
}

.App-main {
  background-color: #282c34;
  min-height: 94vh;
  display: flex;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 3vh;
}

.App-main > * + * {
  margin-left: 1vw;
}
